#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  /* min-height: 80vh; */
  flex-grow: 1;
}

footer {
  justify-self: flex-end;
}

.rating span {
  margin: 0.1rem;
}
