#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  /* min-height: 80vh; */
  flex-grow: 1;
}

footer {
  justify-self: flex-end;
}

.rating span {
  margin: 0.1rem;
}

.summary {
  min-width: 300px;
}

.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  display: flex;
}
.carousel-caption {
  position: absolute;
  top: 0;
}

.carousel-caption h2 {
  color: #fff;
  text-shadow: rgba(0, 0, 0, 0.3);
}

.carousel img {
  height: 300px;
  width: 300px;
  padding: 30px;
  margin: 40px;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  object-fit: cover;
}
.carousel a {
  margin: 0 auto;
}
@media (max-width: 900px) {
  .carousel-caption h2 {
    font-size: 5vw;
  }
}
